/*  INICIO RESET CSS*/
*{	padding: 0;margin: 0;font-size: 100%;font-weight: normal;	}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/*	Fin Reset CSS */

/*-----FUENTES---*/
@font-face{
	font-family:'bau-93';
	src:url('baush93.ttf');
}
@font-face{
	font-family: 'Comic';
	src:url('comic.ttf');
}
/*-----Fin FUENTES ---*/

body{
	font: 15px  Comic arial ;
	background-color: white;
	width: 90%;
	margin:auto;
	
}
.main{
	 width: 90%;
	 max-width: 1000px;
	 margin: 20px auto;

}
.slides{
	width: 100%;

}
.slides img {
	width: 100%;
}
.slidesjs-pagination{
	background: rgb(10,58,122);
	list-style: none;
	overflow: hidden;
}
.slidesjs-pagination li{
	float: left;
}
.slidesjs-pagination li a{
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}
.slidesjs-pagination li a:hover{
    background: white;
    color : rgb(10,58,122);
}
.slides .active{
	background: white;
	color: blue;
}
.slidesjs-navigation{
    background: rgb(10,58,122);
    color :#fff;
    text-decoration: none;
    display :inline-block;
    padding: 11.2px 20px;
    float: right;

} 
.imagenes{
	width: 30%;
	padding: 1%;
	
    border: 1% solid blue;
    border-radius: 4%; 
    
     float: left;
     	display: block;
}
aside{
   width : 28%;
	display: block;
   background: rgb(10,58,122);;
   float: right;
   padding: 2% ;
   margin: 2%;
   box-sizing: border-box;
   color: white;
}
.portada{
	width: 100%;
	padding: 0px;
	/*font-family: "bau-93","Comic";
	font-size: 4em;
	background-color:#43D2FB;
	border: solid 2px;
	text-shadow: #fff 2px 2px 2px;*/
}

#Barra_Menu{
	display: block;
	background-color:rgb(10,58,122);
    padding: 10px;
}
#Barra_Menu ul li{
	display: inline;
	padding: 10px;
}

#Barra_Menu ul li a:hover{
	color: rgb(10,58,122);
	background-color:white;
	padding: 1%;
}

#Barra_Menu ul li a{
	color: white;
	text-decoration: none;
}
#piePrincipal{
	padding: 2px;
	font-size: 0.8em;
	background-color: rgb(10,58,122);
	border: solid 2px;
	text-align: center;
}
footer{
   clear :both;
   color :white;
}