/*  INICIO RESET CSS*/
*{	padding: 0;margin: 0;font-size: 100%;font-weight: normal;	}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/*	Fin Reset CSS */

/*-----FUENTES---*/
@font-face{
	font-family:'bau-93';
	src:url('baush93.ttf');
}
@font-face{
	font-family: 'Comic';
	src:url('comic.ttf');
}
/*-----Fin FUENTES ---*/

body{
	font: 15px  Comic arial ;
	background-color: white;
	width: 90%;
	margin:auto;
	
}
#BANER img{
	width: 100%;
}
#redes_sociales{
	background-color: white;
	float: left;
	width : 28.5%;
	height: 100px;

	padding: 5px;
    
}
#redes_sociales a img {
	padding: 3%;
    margin: 2%;
}
section aside{
	width : 29.5%;
	height: 300px;
	margin: .5% 0%;
	float: left;
	color: #FFFFFF;

	background-color: rgb(10,58,122);
}
a {
   color :lightgreen;
}
section aside p{
	padding: 5px;
	font-size: 1.2em;
	font-style: "Comic";
	text-align: justify;
}
section aside a img{
	 width: 20%;
}
.main{
	 width: 70%;
	 max-width: 1000px;
	 float: right;	
	 margin: .5% 0%; 
}


.slides img {	
	height: 100%;
	width: 50%;
}
.slidesjs-pagination{
	background: rgb(10,58,122);
	list-style: none;
	overflow: hidden;
}
.slidesjs-pagination li{
	float: left;
}
.slidesjs-pagination li a{
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
}
.slidesjs-pagination li a:hover{
    background: white;
    color : rgb(10,58,122);
}
.slides .active{
	background: white;
	color: blue;
}
.slidesjs-navigation{
    background: rgb(10,58,122);
    color :#fff;
    text-decoration: none;
    display :inline-block;
    padding: 11.2px 20px;
    float: right;

} 

#Barra_Menu{
	display: block;
	background-color:rgb(10,58,122);
    padding: 10px;
}
#Barra_Menu ul li{
	display: inline;
	padding: 10px;
}

#Barra_Menu ul li a:hover{
	color: rgb(10,58,122);
	background-color:white;
	padding: 1%;
}

#Barra_Menu ul li a{
	color: white;
	text-decoration: none;
}
#piePrincipal{
	clear: both;
	padding: 2px;
	font-size: 1em;
	background-color: rgb(10,58,122);
	color: #FFFFFF;
	border: solid 2px;
	text-align: center;
}