/*  INICIO RESET CSS*/
*{	padding: 0;margin: 0;font-size: 100%;font-weight: normal;	}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/*	Fin Reset CSS */

/*-----FUENTES---*/
@font-face{
	font-family:'bau-93';
	src:url('BAUHS93.ttf');
}
/*-----Fin FUENTES ---*/

body{
	font: 18px arial;
	background-color: #B3EEFF;
	width: 80%;
	margin:auto;
	border: solid 1px;
}

#N_Banner{
	font-family: "bau-93";
	font-size: 4em;
	background-color:#43D2FB;
	border: solid 2px;
	text-shadow: #fff 2px 2px 2px;
	text-overflow: 
}

#Barra_Menu{
	display: block;
	background-color:#43D2FB;
	padding: 15px;
}

#Barra_Menu ul li{
	display: inline;
	padding:15px;
}
#Barra_Menu ul li:hover{
	background-color: #fff;
}

#Barra_Menu ul li a{
	text-decoration: none;
}


#piePrincipal{
	padding: 2px;
	font-size: 0.8em;
	background-color:#43D2FB;
	border: solid 2px;
	text-align: center;
}